extends layout

block vars
    - let title = '火星人科技'

block content
    #wrapper.home-page
        include lib/head
        #a1portalSkin_headerAreaA.header
            a#33424(name='33424')
            .module-default
                .module-inner
                    #a1portalSkin_ctr185358185358_mainArea.module-content

                        .slideshow.slideshow-min.carousel.clearfix(style='height:400px; overflow:hidden;')
                            #carousel-185358
                                .carousel-item
                                    .carousel-img
                                        a(href='javascript:;')
                                            img(src='/public/images/files/2016062912265783111.jpg' border='0')
                            #carousel-page-185358.carousel-btn.carousel-btn-fixed


        section.main
            .page-width.clearfix

                .full-page-content
                    #a1portalSkin_mainArea.full-page-content-wrapper

                        a#33407(name='33407')
                        .module
                            .module-inner
                                #a1portalSkin_ctr185356185356_mainArea.module-content

                                    a#33408(name='33408')
                                    .module
                                        .module-inner
                                            #a1portalSkin_ctr185357185357_mainArea.module-content
                                                .qhd-content
                                                    #MyContent
                                                        p
                                                            span(style='font-size:22px;') 火星人信息科技有限公司
                                                        p
                                                            | 电话：0771-3216270                    
                                                            br
                                                            | 传真：0771-3216270
                                                            br
                                                            | 邮编：530100  
                                                            br
                                                            | 邮箱：dc@mars-it.net 
                                                            br
                                                            | 地址：广西南宁市科园大道科园东5路南宁软件园一楼


        include lib/footer

block script
    script.
        $(window).bind("load resize",
            function () {
                $("#carousel-185358").carouFredSel({
                    width: '100%',
                    items: {
                        visible: 1
                    },
                    auto: {
                        pauseOnHover: true,
                        timeoutDuration: 5000
                    },
                    swipe: {
                        onTouch: true,
                        onMouse: true
                    },
                    pagination: "#carousel-page-185358",
                    scroll: {
                        fx: "crossfade"
                    }
                });
            });