extends layout

block vars
    - let title = '火星人科技'

block content
    #wrapper.home-page
        include lib/head
        #a1portalSkin_headerAreaA.header
            a#33418(name='33418')
            .module-default
                .module-inner
                    #a1portalSkin_ctr185313185313_mainArea.module-content
                        .slideshow.carousel.clearfix(style='height:670px; overflow:hidden;')
                            #carousel-185313
                                .carousel-item
                                    .carousel-img
                                        a(href='javascript:;', target='')
                                            img(src='/public/images/files/2016062909181095680.jpg' height='670')
                                .carousel-item
                                    .carousel-img
                                        a(href='javascript:;', target='')
                                            img(src='/public/images/files/2016062909175137979.jpg' height='670')
                            #carousel-page-185313.carousel-btn.carousel-btn-fixed

        section.main
            #a1portalSkin_mainArea.full-screen.clearfix
                a#33419(name='33419')
                .module-full-screen(style='')
                    .module-inner.not-animated(data-animate='fadeInUp', data-delay='200')
                        .page-width
                            .module-full-screen-title
                                h2 服务范围
                                .module-title-content
                                    i.mark-left
                                    h3 SCOPE OF SERVICE
                                    i.mark-right
                            #a1portalSkin_ctr185314185314_mainArea.module-full-screen-content
                                .qhd-content
                                    .column
                                        .col-3-1
                                            p(style='text-align: center;')
                                                a(href='Item/list.asp-id=1663.htm')
                                                    img( src='/public/images/a/6a8d998d-4864-48f6-a2b0-a51f7a677f7b.png' style='width: 220px; height: 220px;')
                                            p(style='text-align: center;') 城市规划展馆、产业园展馆、企业展馆、地产展示厅、科技展示厅、APP营销系统
                                        .col-3-1
                                            p(style='text-align: center;')
                                                a(href='Item/list.asp-id=1662.htm')
                                                    img( src='/public/images/a/9768b29c-b177-4bea-af15-04dbd10404e8.png' style='width: 220px; height: 220px;')
                                            p(style='text-align: center;') 地产宣传片、产品演示片、工程动画片、影视广告片、微电影、形象宣传片
                                        .col-3-1.last
                                            p(style='text-align: center;')
                                                a(href='Item/list.asp-id=1661.htm')
                                                    img( src='/public/images/a/dbb6f70e-0207-448c-9917-34c39acae398.png' style='width: 220px; height: 220px;')
                                            p(style='text-align: center;') 方案多媒体动画、建筑效果图
                a#33421(name='33421')
                .module-full-screen.module-full-screen-gray.module-full-screen-bg-img(style='background-image:url(/public/images/a/d89011a6-ee3f-4f60-bdcf-77fcffe341ff.jpg);')
                    .module-inner.not-animated(data-animate='fadeInDown', data-delay='200')
                        .page-width
                            .module-full-screen-title
                                h2 案例展示
                                .module-title-content
                                    i.mark-left
                                    h3 SHOW CASES
                                    i.mark-right
                            #a1portalSkin_ctr185315185315_mainArea.module-full-screen-content
                                .portfolio-list
                                    ul.column.marg-per2.clearfix
                                        li.col-4-1.not-animated(data-animate='fadeInUp', data-delay='200')
                                            .portfolio-img
                                                a(href='Item/Show.asp-m=1&d=2762.htm')
                                                    img(src='/public/images/files/timg.jpg' width='235', height='180')
                                            .portfolio-title
                                                h2
                                                    a(href='Item/Show.asp-m=1&d=2762.htm') 阳光100城市广场
                                        li.col-4-1.not-animated(data-animate='fadeInUp', data-delay='400')
                                            .portfolio-img
                                                a(href='Item/Show.asp-m=1&d=2761.htm')
                                                    img(src='/public/images/files/timg.jpg' width='235', height='180')
                                            .portfolio-title
                                                h2
                                                    a(href='Item/Show.asp-m=1&d=2761.htm') 国瑞·观海居
                                        li.col-4-1.not-animated(data-animate='fadeInUp', data-delay='600')
                                            .portfolio-img
                                                a(href='Item/Show.asp-m=1&d=2760.htm')
                                                    img(src='/public/images/files/timg.jpg' width='235', height='180')
                                            .portfolio-title
                                                h2
                                                    a(href='Item/Show.asp-m=1&d=2760.htm') 中国南方电网电缆桥架模板优化方
                                        li.col-4-1.last.not-animated(data-animate='fadeInUp', data-delay='800')
                                            .portfolio-img
                                                a(href='Item/Show.asp-m=1&d=2759.htm')
                                                    img(src='/public/images/files/timg.jpg' width='235', height='180')
                                            .portfolio-title
                                                h2
                                                    a(href='Item/Show.asp-m=1&d=2759.htm') 工业造型-四驱车表现
                                    ul.column.marg-per2.clearfix
                                        li.col-4-1.not-animated(data-animate='fadeInUp', data-delay='200')
                                            .portfolio-img
                                                a(href='Item/Show.asp-m=1&d=2758.htm')
                                                    img(src='/public/images/files/timg.jpg' width='235', height='180')
                                            .portfolio-title
                                                h2
                                                    a(href='Item/Show.asp-m=1&d=2758.htm') 庭凯·尚悦名庭
                            .module-full-screen-more
                                a(href='Item/list.asp-id=1664.htm')
                                    | 查看更多
                                    | >
                a#33422(name='33422')
                .module-full-screen.module-full-screen-gray(style='')
                    .module-inner.not-animated(data-animate='fadeInDown', data-delay='200')
                        .module-full-screen-title
                            h2 精英团队
                            .module-title-content
                                i.mark-left
                                h3 OUR ELITE TEAMS
                                i.mark-right
                        #a1portalSkin_ctr185316185316_mainArea.module-full-screen-content
                            .scrollable.carousel.full-scrollable.clearfix
                                ul#scrollable-185316.full-scrollable-default.clearfix
                                    li
                                        a(href='Item/Show.asp-m=1&d=2749.htm')
                                            .scrollable-image
                                                img(src='/public/images/files/2016062910300097112.png' width='270', height='355')
                                            .scrollable-info
                                                h3 Fay
                                                .scrollable-summarty
                                                    .qhd-content
                                                        p 职位：三维动画部主管
                                                p.icon-detail
                                                    span(href='Item/Show.asp-m=1&d=2749.htm') 查看详情
                                            .opacity-overlay
                                    li
                                        a(href='Item/Show.asp-m=1&d=2748.htm')
                                            .scrollable-image
                                                img(src='/public/images/files/201606291029233306.png' width='270', height='355',)
                                            .scrollable-info
                                                h3 Snak
                                                .scrollable-summarty
                                                    .qhd-content
                                                        p 职位：三维动画项目经理
                                                p.icon-detail
                                                    span(href='Item/Show.asp-m=1&d=2748.htm') 查看详情
                                            .opacity-overlay
                                    li
                                        a(href='Item/Show.asp-m=1&d=2747.htm')
                                            .scrollable-image
                                                img(src='/public/images/files/2016062910271433453.png' width='270', height='355')
                                            .scrollable-info
                                                h3 MING
                                                .scrollable-summarty
                                                    .qhd-content
                                                        p 职位：影视后期部主管
                                                p.icon-detail
                                                    span(href='Item/Show.asp-m=1&d=2747.htm') 查看详情
                                            .opacity-overlay
                                    li
                                        a(href='Item/Show.asp-m=1&d=2746.htm')
                                            .scrollable-image
                                                img(src='/public/images/files/2016062910263827272.png', width='270', height='355')
                                            .scrollable-info
                                                h3 Raytta
                                                .scrollable-summarty
                                                    .qhd-content
                                                        p 职位：创意策划部首席策划
                                                p.icon-detail
                                                    span(href='Item/Show.asp-m=1&d=2746.htm') 查看详情
                                            .opacity-overlay
                                    li
                                        a(href='Item/Show.asp-m=1&d=2745.htm')
                                            .scrollable-image
                                                img(src='/public/images/files/2016062910251784765.png' width='270', height='355')
                                            .scrollable-info
                                                h3 Elephant
                                                .scrollable-summarty
                                                    .qhd-content
                                                        p 职位：三维模型部主管
                                                p.icon-detail
                                                    span(href='Item/Show.asp-m=1&d=2745.htm') 查看详情
                                            .opacity-overlay
                                    li
                                        a(href='Item/Show.asp-m=1&d=2744.htm')
                                            .scrollable-image
                                                img(src='/public/images/files/2016062910230367414.png' width='270', height='355')
                                            .scrollable-info
                                                h3 Willan
                                                .scrollable-summarty
                                                    .qhd-content
                                                        p 职位：展览展示部项目总监
                                                p.icon-detail
                                                    span(href='Item/Show.asp-m=1&d=2744.htm') 查看详情
                                            .opacity-overlay
                                    li
                                        a(href='Item/Show.asp-m=1&d=2743.htm')
                                            .scrollable-image
                                                img(src='/public/images/files/2016062910215420828.png' width='270', height='355')
                                            .scrollable-info
                                                h3 Lorna
                                                .scrollable-summarty
                                                    .qhd-content
                                                        p 职位：三维动画项目经理
                                                p.icon-detail
                                                    span(href='Item/Show.asp-m=1&d=2743.htm') 查看详情
                                            .opacity-overlay
                                    li
                                        a(href='Item/Show.asp-m=1&d=2742.htm')
                                            .scrollable-image
                                                img(src='/public/images/files/2016062910094983637.png' width='270', height='355')
                                            .scrollable-info
                                                h3 Bobo
                                                .scrollable-summarty
                                                    .qhd-content
                                                        p 职位：三维影视部特效师
                                                p.icon-detail
                                                    span(href='Item/Show.asp-m=1&d=2742.htm') 查看详情
                                            .opacity-overlay
                                    li
                                        a(href='Item/Show.asp-m=1&d=2741.htm')
                                            .scrollable-image
                                                img(src='/public/images/files/2016062910122425006.png' width='270', height='355')
                                            .scrollable-info
                                                h3 Zhuoya
                                                .scrollable-summarty
                                                    .qhd-content
                                                        p 职位：制作部门总监
                                                p.icon-detail
                                                    span(href='Item/Show.asp-m=1&d=2741.htm') 查看详情
                                            .opacity-overlay
                                .carousel-direction
                                    a#carousel-prev-185316.carousel-prev(href='javascript:;')
                                        span
                                            | <
                                    a#carousel-next-185316.carousel-next(href='javascript:;')
                                        span >
                a#33423(name='33423')
                .module-full-screen
                    .module-inner.not-animated(data-animate='fadeInUp', data-delay='200')
                        .page-width
                            .module-full-screen-title
                                h2 最新资讯
                                .module-title-content
                                    i.mark-left
                                    h3 LATEST NEWS
                                    i.mark-right
                            #a1portalSkin_ctr185317185317_mainArea.module-full-screen-content
                                .portfolio-typo
                                    ul.column.marg-per5.clearfix
                                        li.col-2-1.not-animated(data-animate='fadeInUp', data-delay='200')
                                            .portfolio-typo-item
                                                .typo
                                                    .typo-img
                                                        .entry-img
                                                            a(href='Item/Show.asp-m=1&d=2783.htm')
                                                                img(src='/public/images/files/logo1.jpg' width='165', height='120')
                                                    .typo-text
                                                        .portfolio-typo-title
                                                            h2
                                                                a(href='Item/Show.asp-m=1&d=2783.htm') Autodesk 3ds max 2016 全新功能
                                                        .portfolio-typo-summary
                                                            .qhd-content
                                                                | 3dsMax2016中纳入了一些全新的功能，让用户可以创建自定义工具并轻松共享其工作成果，因此更有利于跨团队协作。此外，它还可以提高新用户的工作效率，增强其自信心。凭借基于节点的全新编程系统，用户可以扩展3dsMax的功
                                        li.col-2-1.last.not-animated(data-animate='fadeInUp', data-delay='400')
                                            .portfolio-typo-item
                                                .typo
                                                    .typo-img
                                                        .entry-img
                                                            a(href='Item/Show.asp-m=1&d=2782.htm')
                                                                img(src='/public/images/files/logo2.jpg' width='165', height='120')
                                                    .typo-text
                                                        .portfolio-typo-title
                                                            h2
                                                                a(href='Item/Show.asp-m=1&d=2782.htm') PS CC 2015 来啦！
                                                        .portfolio-typo-summary
                                                            .qhd-content
                                                                | 作为近几十年来设计领域的标杆，Adobe系列图形/影视编辑领域长期保持着领导地位。随着移动端设备的崛起，桌面端设计类软件开始进入大规模、大范围的创新和迭代的阶段，后起之秀诸如Sketch也逐渐有了在移动端UI设计和We

                                    ul.column.marg-per5.clearfix
                                        li.col-2-1.not-animated(data-animate='fadeInUp', data-delay='200')
                                            .portfolio-typo-item
                                                .typo
                                                    .typo-img
                                                        .entry-img
                                                            a(href='Item/Show.asp-m=1&d=2781.htm')
                                                                img(src='/public/images/files/logo3.jpg' width='165', height='120')
                                                    .typo-text
                                                        .portfolio-typo-title
                                                            h2
                                                                a(href='Item/Show.asp-m=1&d=2781.htm') 好味佳系列参展南京糖酒会圆满落
                                                        .portfolio-typo-summary
                                                            .qhd-content
                                                                | 2015年10月24日，好味佳公司携手重磅新品参展，展会上播放了由文化传媒精心定做的系列视频，完美展示产品卖点，以搞笑作为噱头的TVC，并用趣味搞笑的画面语言引起话题性，将好味佳的形象刻印在受众脑海。现场游戏互动、分享

                                        li.col-2-1.last.not-animated(data-animate='fadeInUp', data-delay='400')
                                            .portfolio-typo-item

                                                .typo
                                                    .typo-img
                                                        .entry-img
                                                            a(href='Item/Show.asp-m=1&d=2780.htm')
                                                                img(src='/public/images/files/logo1.jpg' width='165', height='120')

                                                    .typo-text
                                                        .portfolio-typo-title
                                                            h2
                                                                a(href='Item/Show.asp-m=1&d=2780.htm') Autodesk 3ds max 2016 发布会
                                                        .portfolio-typo-summary
                                                            .qhd-content
                                                                | 7月16日，带领部分同事参与Autodesk3dsmax2016发布会，了解全新功能，“精益求精，专注更需要专业！”是我们槟果文化传媒的核心价值。尽我们所能，用最先进的技术实现文化的传播与不同文化的交流，满足您的需求。社会发展
                            .module-full-screen-more
                                a(href='Item/list.asp-id=1668.htm')
                                    | 查看更多
                                    | >

        include lib/footer






block script
    script.



        $(window).bind("load resize",function(){
           $("#carousel-185313").carouFredSel({
                    width: '100%',
                    items: {
                        visible: 1
                    },
                    auto: {
                        pauseOnHover: true,
                        timeoutDuration: 5000
                    },
                    swipe: {
                        onTouch: true,
                        onMouse: true
                    },
                    pagination: "#carousel-page-185313"
                });
        });


