footer.footer
    .footer-main
        #a1portalSkin_footerAreaA.page-width.clearfix
            a#33410(name='33410')
            .module-default
                .module-inner
                    #a1portalSkin_ctr185308185308_mainArea.module-content
                        .qhd-module
                            .column
                                .col-4-1
                                    #a1portalSkin_ctr185308185308_Column3C50A25A25_QHDCPM185308M1.qhd_column_contain
                                        a#33411(name='33411')
                                        .module-default.module-no-margin
                                            .module-inner
                                                #a1portalSkin_ctr185308185308_Column3C50A25A25_ctr185309185309_mainArea.module-content
                                                    .qhd-content
                                                        p(style='text-align: center;')
                                                            img( src='/public/images/a/qrcode.png' style='width: 110px; height: 110px;')
                                                            br
                                                            | 关注微信公众号
                                .col-4-1
                                    #a1portalSkin_ctr185308185308_Column3C50A25A25_QHDCPM185308M2.qhd_column_contain
                                        a#33412(name='33412')
                                        .module-default
                                            .module-inner
                                                .module-title.module-title-default.clearfix
                                                    .module-title-content.clearfix
                                                        h3(style='') 关于
                                                #a1portalSkin_ctr185308185308_Column3C50A25A25_ctr185310185310_mainArea.module-content
                                                    .link.link-block
                                                        ul
                                                            li
                                                                a(href='about')
                                                                    span 公司介绍
                                                            li
                                                                a(href='about')
                                                                    span 企业荣誉
                                                            li
                                                                a(href='about')
                                                                    span 公司环境
                                                            li
                                                                a(href='about')
                                                                    span 精英团队

                                .col-4-1
                                    #a1portalSkin_ctr185308185308_Column3C50A25A25_QHDCPM185308M3.qhd_column_contain

                                        a#33413(name='33413')
                                        .module-default
                                            .module-inner
                                                .module-title.module-title-default.clearfix
                                                    .module-title-content.clearfix
                                                        h3 服务
                                                #a1portalSkin_ctr185308185308_Column3C50A25A25_ctr185311185311_mainArea.module-content
                                                    .link.link-block
                                                        ul
                                                            li
                                                                a(href='service')
                                                                    span 视听展示
                                                            li
                                                                a(href='service')
                                                                    span 影视动画
                                                            li
                                                                a(href='service')
                                                                    span 建筑表现

                                .col-4-1.last
                                    #a1portalSkin_ctr185308185308_Column3C50A25A25_QHDCPM185308M4.qhd_column_contain
                                        a#33414(name='33414')
                                        .module-default
                                            .module-inner
                                                .module-title.module-title-default.clearfix
                                                    .module-title-content.clearfix
                                                        h3 其他
                                                #a1portalSkin_ctr185308185308_Column3C50A25A25_ctr185312185312_mainArea.module-content
                                                    .link.link-block
                                                        ul
                                                            li
                                                                a(href='cases')
                                                                    span 成功案例
                                                            li
                                                                a(href='customer')
                                                                    span 服务客户
                                                            li
                                                                a(href='news')
                                                                    span 公司动态
section.bottom
    #a1portalSkin_bottomAreaA.page-width.clearfix
        a#33415(name='33415')
        .module-default
            .module-inner
                #a1portalSkin_ctr185318185318_mainArea.module-content
                    .qhd-module
                        .column
                            .col-2-1
                                #a1portalSkin_ctr185318185318_Column2C50A50_QHDCPM185318M1.qhd_column_contain
                                    a#33416(name='33416')
                                    .module-default.module-no-margin
                                        .module-inner
                                            #a1portalSkin_ctr185318185318_Column2C50A50_ctr185319185319_mainArea.module-content
                                                .qhd-content
                                                    p © 2018   火星人信息科技有限公司
                            .col-2-1.last
                                #a1portalSkin_ctr185318185318_Column2C50A50_QHDCPM185318M2.qhd_column_contain
                                    a#33417(name='33417')
                                    .module-default.module-no-margin
                                        .module-inner
                                            #a1portalSkin_ctr185318185318_Column2C50A50_ctr185320185320_mainArea.module-content

                                                .qhd-content
.gotop-wrapper
    a.fixed-gotop.gotop(href='javascript:;')

